.Rproj.user
.Rhistory
.RData
.Ruserdata
plots/
new/**
*.html
*.pdf
*.docx
original/**
tidy_psmelt_code.R
prev*
PE462_amplicon-seq-analysis_v462.R
data_exploration.R
*.Rmd
rel_abund_by_ranks.R
*.pptx
PE462_data_prep.R
plots_div.R