.Rproj.user
.Rhistory
.RData
.Ruserdata
plots/
new/**
*.html
*.pdf
*.docx
original/**
tidy_psmelt_code.R
prev*
PE462_amplicon-seq-analysis_v462.R
data_exploration.R
split_by_polymer.Rmd
trial_markdown.Rmd